<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="travel.css" />
    <title>Travel with Baron</title>
  </head>
  <body>
    <div class="background_image">
      <div class="about-sign-in">
        <a class="about" href="#">ABOUT US</a>
        <a class="sign-in" href="#">SIGN IN</a>
      </div>
      <div class="logo"></div>
      <div class="slogan-item">
        <div class="right">
          <img src="./global-marketing.png" height="60px" />
          <span>Together</span>
        </div>
        <div class="middle">
          <img src="./heart.png" height="60px" />
          <span>Love</span>
        </div>
        <div class="left">
          <img src="./shield.png" height="60px" />
          <span>Safe</span>
        </div>
      </div>
      <div class="slogan-text">
        <span>Your satisfaction is our pleasure</span>
      </div>
      <div class="btn-start">
        <button>START NOW</button>
      </div>
    </div>
  </body>
</html>
